.charPic {
    margin-right: 10px;
    border-left: 3px solid rgb(153, 147, 147);
    border-top: 3px solid rgb(180, 178, 178);
    border-right: 3px solid rgb(180, 178, 178);
    border-bottom: 6px solid rgb(107, 107, 107);
}

.crystalContainer {
    background-color: rgb(224, 223, 223);
    border-left: 3px solid rgb(153, 147, 147);
    border-top: 3px solid rgb(180, 178, 178);
    border-right: 3px solid rgb(180, 178, 178);
    border-bottom: 6px solid rgb(107, 107, 107);
}

.displayTop {
    margin-top: 20px; 
    background-color: white; 
    margin-bottom: 0px;
    color: black; 
    border-top: 3px solid; 
    border-left: 3px solid; 
    border-right: 3px solid; 
    border-top-color: rgb(141, 99, 209); 
    border-right-color: rgb(162, 115, 238); 
    border-left-color: rgb(110, 72, 172);
}

.displayBottom {
    background-color: gray; 
    padding: 10px 0px 10px 0px; 
    border-bottom: 6px solid; 
    border-left: 3px solid; 
    border-right: 3px solid; 
    border-right-color: rgb(162, 115, 238);
    border-left-color: rgb(110, 72, 172);
    border-bottom-color: rgb(64, 27, 124);
}

/* .charPic:hover { 
    border-color: rgb(13, 69, 255);
  } */

img {
    margin: 10px;
}

h2 {
    padding: 10px;
}

h4 {
    padding: 10px;
}

body {
    background-image: url('../../assets/images/dark-triangles.png');
    color: white;
}